@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

.sidebar {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 17px;
  text-align: right;
  width: 100px;
  padding-top: 30px;
}

.sidebar a {
  border-bottom: 1px dashed #616160;
  color: #7d7d7c;
  display: inline-block;
  margin-bottom: 8px;
}

.logo {
  padding-bottom: 25px;
}

.laptop {
  background-image: url('assets/Laptop.png');
  background-repeat:no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
    left: 250px;
    top: 30px;
    z-index: 1;
}

.iphone {
  background-image: url('assets/iPhone.png');
  background-repeat:no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
    left: 200px;
    top: 130px;
    z-index: 1;
}

.notebook {
  background-image: url('assets/Notebook.png');
  background-repeat:no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
    left: 315px;
    top: 120px;
    z-index: 1;
}

.coffee {
  background-image: url('assets/Coffee.png');
  background-repeat:no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
    left: 200px;
    top: 260px;
    z-index: 1;
  opacity: 0.65;
}

.water_bottle {
  background-image: url('assets/Water_Bottle.png');
  background-repeat:no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
    left: 350px;
    top: 260px;
    z-index: 1;
}

.briefcase {
  background-image: url('assets/Briefcase.png');
  background-repeat:no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
    left: 460px;
    top: 240px;
    z-index: 1;
}

.face {
  background-color: #2e3192;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  opacity: 0.7;
  z-index: 1;
}

.faceIMG {
  opacity: 1 !important;
  padding-top: 10%;
}

#nopadding {
  padding:  0 !important;
}

.faceHeading {
  background-color: #474545;
  color: #FFFFFF;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  position: absolute;
  padding: 2px;
  padding-left: 8px;
  padding-right: 6px;
  top: 20%;
  left: -28%;
  z-index: 2;
}
