@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ed3435
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d63031;
}

#input-email, #input-name, #input-message {
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #CCCCCC;
  resize: vertical;
}

#input-button {
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #656a72;
  width: 100%;
}

#contactform {
  margin-bottom: 80px;
  margin-left: 50px;
  width: 40%;
}

.contactHeading {
  padding: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 20px;
  width: 333px;
  font-size: 35px !important;

  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  background-color: #474545;
}

.sidebar {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 17px;
  text-align: right;
  width: 100px;
  padding-top: 30px;
}

.sidebar a {
  border-bottom: 1px dashed #616160;
  color: #7d7d7c;
  display: inline-block;
  margin-bottom: 8px;
}

.sidebar a:hover {
  color: #7d7d7c;
  text-decoration: none;
  font-weight: bold;
}

.logo {
  padding-bottom: 25px;
}

.laptop {
  background: url('assets/Laptop.png');
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
    left: 250px;
    top: 30px;
    z-index: 1;
}

.iphone {
  background: url('assets/iPhone.png');
  background-repeat:no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
    left: 200px;
    top: 130px;
    z-index: 1;
}

.notebook {
  background: url('assets/Notebook.png');
  background-repeat:no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
    left: 315px;
    top: 120px;
    z-index: 1;
}

.coffee {
  background: url('assets/Coffee.png');
  background-repeat:no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
    left: 200px;
    top: 260px;
    z-index: 1;
  opacity: 0.65;
}

.water_bottle {
  background: url('assets/Water_Bottle.png');
  background-repeat:no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
    left: 350px;
    top: 260px;
    z-index: 1;
}

.briefcase {
  background: url('assets/Briefcase.png');
  background-repeat:no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
    left: 460px;
    top: 240px;
    z-index: 1;
}

.face {
  background-color: #d63031;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  opacity: 0.7;
  z-index: 1;
  -webkit-box-shadow: inset 0px 9px 24px -15px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 9px 24px -15px rgba(0,0,0,1);
  box-shadow: inset 0px 9px 24px -15px rgba(0,0,0,1);
}

.faceIMG {
  opacity: 1 !important;
  padding-top: 10%;
}

#nopadding {
  padding:  0 !important;
}

#faceHeadingSkeleton {
  background-color: #474545;
  color: #FFFFFF;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  position: absolute;
}

.faceHeading {
  padding: 2px;
  padding-left: 8px;
  padding-right: 6px;

  top: 7%;
  left: -28%;
  z-index: 2;
}

.faceHeading2 {
  padding: 2px;
  padding-left: 8px;
  padding-right: 6px;

  top: 23%;
  left: -28%;
  z-index: 2;
}

.faceHeading3 {
  padding: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 6px;

  top: 39%;
  left: -28%;
  z-index: 2;
}

.skillsHeading {
  padding-left: 15px;
  padding-right: 30px;
  margin-left: 50px;
  font-size: 35px !important;

  width: 155px;
  font-size: 35px !important;

  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  background-color: #474545;
}

.skillsText {
  font-size: 19px;
  font-family: 'Lato';
  font-weight: 300 !important;
  color: #333333;
  margin-left: 50px;
  margin-top: 25px;
}

.contactText {
  font-size: 19px;
  font-family: 'Lato';
  font-weight: 300 !important;
  color: #333333;
  margin-top: 25px;
  margin-bottom: 25px;
}

.contactText a {
  color: #ed3b3b;
}

.contactText a:hover {
  color: #ed3b3b;
}

#skills {
  margin-top: 60px;
  margin-bottom: 50px;
  background-color: #FFFFFF;
  padding-top: 4%;

  -webkit-box-shadow: inset 0px 9px 24px -15px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 9px 24px -15px rgba(0,0,0,1);
  box-shadow: inset 0px 9px 24px -15px rgba(0,0,0,1);
}

#skillsPercentage {
  padding-top: 5px;
}

@media screen and (max-width: 575px) {
  #skillsPercentage {
    padding-top: 30px;
  }
}

@media screen and (max-width: 991px) {
  .briefcase {
    left: 150px;
    top: 30px;
  }

  .coffee {
    left: 150px;
    top: 85px;
  }

  .water_bottle {
    display: none;
  }

  .notebook {
      left: 270px;
      top: 100px;
  }

  .faceHeading, .faceHeading2, .faceHeading3 {
    left: 1%;
  }

  #headingSkeleton {
    font-size: 15px;
  }

  .skillsHeading {
    margin-left: 0px;
  }

  #contactform {
    margin-left: 0px;
    width: 95%;
  }

  .skillsText {
    margin-left: 0px;
    margin-top: 20px;
  }

  #skills {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .temp {
    margin-left: 5%;
    padding-top: 50px;
  }

  .thumb {
    text-align: center;
    padding: 0px !important;
    margin-left: 0rem;
    margin-top: 0%;
  }
}

.portfolioIntro {
  background-color: #363636;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 19px;
  padding: 50px;
  border: 0px solid #000000;
  -webkit-box-shadow: inset 0px 9px 24px -15px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 9px 24px -15px rgba(0,0,0,1);
  box-shadow: inset 0px 9px 24px -15px rgba(0,0,0,1);
}

.portfolioIMG {
  background-image: url('assets/portfolio.jpeg');
  position: absolute;
  left: 0px;
  right: 0px;
  background-size: cover;
  width: 100%;
  height: 82%;
}

.portfolioText {
  margin-top: 5%;
  font-family: 'Lato';
}

.temp {
  margin-left: 20%;
  position: relative;
  width: 61%;
}

.col-md, .col-md-6, .col-md-3, .col-md-2, .col-md-1, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  border: 0px solid #000000;
}

.portfolioIntro h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.portfolioIntro a {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.portfolioIntro a:hover {
  color: #ff7675;
  background-color: #FFFFFF;
}

.progress {
  height: 1.7rem !important;
  border-radius: 0rem !important;
  opacity: ;
}

.lang {
  color: #FFFFFF;
  padding: 7px;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  background-color: #bc313e;
}

.thumb {
  padding: 0px !important;
  width: 70%;

  margin-top: 12%;
  margin-left: 15%;
  border: 5px solid #FFFFFF;

  -webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.58);
  box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.58);
}

.col-md-4 {
  border: 0px solid black;
}

.footerGetInTouch {
  background-color: #363636;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  padding: 20px;
  padding-top: 30px;
  color: #999999;
  font-family: 'Lato';

  -webkit-box-shadow: 0px -5px 20px -9px rgba(0,0,0,1);
  -moz-box-shadow: 0px -5px 20px -9px rgba(0,0,0,1);
  box-shadow: 0px -5px 20px -9px rgba(0,0,0,1);
}

.footerGetInTouch a {
  color: #999999;
}

.footerGetInTouch a:hover {
  color: #999999;
  text-decoration: none;
  font-weight: bold;
}

.footerGetInTouch h5 {
  font-size: 17px;
  color: #f1f1f1;
  font-weight: 400;
}

.footerCopyright {
  background-color: #363636;
  color: #f1f1f1;
  font-family: 'Lato';
  border: 0px solid #FFFFFF;
  padding-bottom: 25px;
}

.socialMedia {
  width: 60px;
  height: 60px;
  background-repeat:no-repeat;
  background-size: cover;
  margin-right: 10px;
  margin-top: 0px;
  display: inline-block;
}

.GitHub {
  background-image: url('assets/github.png');
}

.Twitter {
  background-image: url('assets/twitter.png');
}

.LinkedIn {
  background-image: url('assets/linkedin.png');
  margin-right: 0px;
}

.GitHub:hover {
  background-image: url('assets/githubw.png');
}

.Twitter:hover {
  background-image: url('assets/twitterw.png');
}

.LinkedIn:hover {
  background-image: url('assets/linkedinw.png');
}

.footerContact {
  width: 45px;
  height: 45px;
  background-repeat:no-repeat;
  background-size: cover;
  display: inline-block;
}

.email {
  background-image: url('assets/email.png');
}

.phone {
  background-image: url('assets/phone.png');
}
