@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

.sidebar {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 17px;
  text-align: right;
  width: 100px;
  padding-top: 30px;
}

.sidebar a {
  border-bottom: 1px dashed #616160;
  color: #7d7d7c;
  display: inline-block;
  margin-bottom: 8px;
}

.logo {
  padding-bottom: 25px;
}

.laptop {
  background-image: url('assets/Laptop.png');
  background-repeat:no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
    left: 250px;
    top: 30px;
    z-index: 1;
}

.iphone {
  background-image: url('assets/iPhone.png');
  background-repeat:no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
    left: 200px;
    top: 130px;
    z-index: 1;
}

.notebook {
  background-image: url('assets/Notebook.png');
  background-repeat:no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
    left: 315px;
    top: 120px;
    z-index: 1;
}

.coffee {
  background-image: url('assets/Coffee.png');
  background-repeat:no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
    left: 200px;
    top: 260px;
    z-index: 1;
  opacity: 0.65;
}

.water_bottle {
  background-image: url('assets/Water_Bottle.png');
  background-repeat:no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
    left: 350px;
    top: 260px;
    z-index: 1;
}

.briefcase {
  background-image: url('assets/Briefcase.png');
  background-repeat:no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
    left: 460px;
    top: 240px;
    z-index: 1;
}

.face {
  background-color: #2e3192;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  opacity: 0.7;
  z-index: 1;
}

.faceIMG {
  opacity: 1 !important;
  padding-top: 10%;
}

#nopadding {
  padding:  0 !important;
}

#faceHeadingSkeleton {
  background-color: #474545;
  color: #FFFFFF;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  position: absolute;
}

.faceHeading {
  padding: 2px;
  padding-left: 8px;
  padding-right: 6px;

  top: 7%;
  left: -28%;
  z-index: 2;
}

.faceHeading2 {
  padding: 2px;
  padding-left: 8px;
  padding-right: 6px;

  top: 23%;
  left: -28%;
  z-index: 2;
}

.faceHeading3 {
  padding: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 6px;

  top: 39%;
  left: -28%;
  z-index: 2;
}

.skillsHeading {
  padding-left: 15px;
  padding-right: 30px;
  margin-left: 50px;
  font-size: 35px !important;

  font-style: italic;
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  position: absolute;
}

.skillsText {
  font-size: 19px;
  font-weight: 300 !important;
  color: #333333;
  line-height: normal !important;
  margin-left: 50px;
  margin-top: 80px;
}

#skills {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #FFFFFF;
  padding: 20px;
  padding-top: 4%;
  padding-bottom: 4%;

  -webkit-box-shadow: inset 0px 9px 24px -15px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 9px 24px -15px rgba(0,0,0,1);
  box-shadow: inset 0px 9px 24px -15px rgba(0,0,0,1);
}

#skillsPercentage {
  padding-top: 5px;
}

@media screen and (max-width: 575px) {
  #skillsPercentage {
    padding-top: 30px;
  }
}

@media screen and (max-width: 991px) {
  .briefcase {
    left: 150px;
    top: 30px;
  }

  .coffee {
    left: 150px;
    top: 85px;
  }

  .water_bottle {
    display: none;
  }

  .notebook {
      left: 270px;
      top: 100px;
  }

  .faceHeading, .faceHeading2, .faceHeading3 {
    left: 1%;
  }

  #headingSkeleton {
    font-size: 26px;
  }

  .skillsHeading {
    margin-left: 10px;
  }

  .skillsText {
    margin-left: 10px;
    margin-top: 80px;
  }

  #skills {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .temp {
    width: 0px;
    height: 300px;
    margin-left: 50%;
    margin-top: 50px;
  }

  .thumb {
    text-align: center;
    padding: 0px !important;
    margin-left: 0rem;
    margin-top: 0%;
  }
}

.portfolioIntro {
  background-color: #2e3192;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 19px;
  padding: 98px;
  border: 1px solid #000000;
  opacity: 0.68;
}

.temp {
  margin-left: 15%;
  margin-top: 100px;

  padding: 0px !important;
  width: 60%;
  height: 70%;
}

.col-md, .col-md-6, .col-md-3, .col-md-2, .col-md-1, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  border: 0px solid #000000;
}

.portfolioIntro h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.portfolioIntro a {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.portfolioIntro a:hover {
  color: #ff7675;
  background-color: #FFFFFF;
}

.progress {
  height: 1.7rem !important;
  border-radius: 0rem !important;
  opacity: ;
}

.lang {
  color: #FFFFFF;
  padding: 7px;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
}

#html {
  background-color: #bc313e;
}

#js {
  background-color: #f4b907;
}

#css {
  background-color: #690cd3;
}

#php {
  background-color: #29a044;
}

#mysql {
  background-color: #8f10ba;
}

#reactjs {
  background-color: #046fe2;
}

#cssProgress-bar {
  background-color: #7506f4;
}

#mysqlProgress-bar {
  background-color: #aa11dd;
}

.thumb {
  padding: 0px !important;
  width: 70%;

  margin-top: 12%;
  margin-left: 15%;
  border: 5px solid #FFFFFF;

  -webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.58);
  box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.58);
}

.col-md-4 {
  border: 0px solid black;
}
